@import url(https://fonts.googleapis.com/css2?family=Hind:wght@100;200;300;400;500;600;700&display=swap);

*{
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

/*header*/

.header-container{
  position: sticky;
  
}
.header{
 
  display: flex;
  background: transparent;
  background-color: transparent;
  margin-top: 10px;
}


.menuList ul {
  display: flex;
  list-style: none;
  position: absolute;
  right: 5%;
}

.menuList ul li {
    margin: 10px;
    padding: 5px;
}
 
.menuList ul li a{
  text-decoration: none;
  color:white;
  text-transform:capitalize;
  font-weight: 900;
  cursor: pointer;
  
}



/*Footer*/

.footer-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.footer-content  {
  text-align: center;
  margin-right: 25%;
  margin-bottom: 25px;
}

@media only screen and (max-width:768px) {
  .footer-content  {
    margin-right:0;
    margin-bottom: 25px;
  }
  
}

.footer-content p {
  font-weight: 100;
}


/* inputs*/


.todo-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 520px;
  min-height: 600px;
  background: transparent;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}


@media only screen and (max-width:768px) {
  .todo-container{
    width: 350px; 
  }
}


.headerText  {
 display: block;
margin-bottom: 30px;
color:wheat;

}

.headerText .text{
  text-align: center;
  font-weight:bold;
}


.input-container{
  text-align: center;
  width: 600px;
}


@media only screen and (max-width:768px) {
  .input-container{
    width: 350px; 
  }
}

.input-container input {
  width: 350px;
  border: none;
  font-size: larger;
  border-radius: 6px 0 0 6px;
  box-shadow: inset 0px -1px 15px -4px rgba(0,0,0,0.71);
  padding: 16px;
  background: transparent;
  padding: 14px 32px 14px 16px;
  color: #fff;
  outline: none;
  

}

@media only screen and (max-width:768px) {
  .input-container input{
    width: 250px;
    
  }
}

.input::placeholder {
  color: #e2e2e2;
}
.input-container .addbtn {
  width: 100px;
  border: none;
  border-radius: 0px 6px 6px 0px;
  margin-left: 2px;
  background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
  font-weight: 900;
  text-transform: capitalize;
  padding: 16px;
  font-size: larger;
}

@media only screen and (max-width:768px) {
  .input-container .addbtn {
    width: 50px; 
    font-weight:900;
    padding: 10px;
   
  }
}




.note-container{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background-image: linear-gradient( 135deg, #FFA8A8 10%, #FCFF00 100%);
  padding: 16px;
  border-radius: 5px;
  overflow:hidden;
  word-wrap: break-word;
  
}




.btns{
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.note-container button {
    width: auto;
    border: none;
    background: transparent;
}

.note-container .note{
font-weight: 600;
color: #000;


}